/*/////Variables//////*/
$headingText: 'Roboto', sans-serif;
$bodyText: 'Roboto', sans-serif;


$phonePort: 300px;
$tabPort: 600px;
$tabLand: 800px;
$tabLandLarge: 1024px;
$monitorLarge: 1300px;

$red: #c00;
$darkRed: darken($red, 10);
$green: #0c0;
$yellow: #ff0;
$blue: #003;
