.website-archive-list{
   padding-top: 2.5em;
   flex-wrap: wrap;
   margin: 0 auto;
   padding: 0;
   width: 300px;
   align-items: center;
   transition: all 1s;
   display: flex;
   @media only screen and (min-width: 750px) {

	 width: 100%;
   }
   li{
     width: 45%;
     font-size: 1.2em;
	 margin: 0 2.5% 3em 2.5%;
	 align-self: flex-start;
	 @media only screen and (min-width: 750px) {
  	    flex-basis: 45%;
		width: 45%;
		font-size: 1.6em;
     }
   }
   h2{
     font-size: 1.2em;
	 margin-top: .25em;
   	 @media only screen and (min-width: 750px) {
		font-size: 1.8em;
     }
   }
   li div.image-container{
   	 width: 100%;
	   background: #000;
     background-size: cover;
     background-position: center;
	   padding-bottom: 90%;
	   height: 0;
	   position: relative;
	}
   li img{
     display: block;
     max-width: 400px;
     width: 80%;
     height: auto;
     @include center;
   }
}
